In [1]:
import pandas as pd
import numpy as np
import folium
import geopy.distance

In [2]:
df = pd.read_csv('https://drive.google.com/uc?id=19JERBe0ndadkMPKDFZ0rTEZqdI50zDfk')
df.head()

         lat        lng      store                                 address
0  40.711000 -74.000878  Starbucks        375 Pearl st, New York, NY 10038
1  40.707142 -74.004987  Starbucks     135 John Street, New York, NY 10038
2  40.708411 -74.007404  Starbucks  100 William Street, New York, NY 10038
3  40.711644 -74.006667  Starbucks     38 Park Row, #4, New York, NY 10038
4  40.710171 -74.007931  Starbucks   130 Fulton Street, New York, NY 10038

#merge columns
df['coordinate'] = '('+df['lat'].astype(str)+','df['lng'].astype(str)+')'

In [5]:
#merge cells
df['coordinate'] = '('+df['lat'].astype(str)+',' +df['lng'].astype(str)+')'

In [6]:
NY_coord = (40.748488, -73.985238) #New York empire state building

In [13]:
#computing distance in km
distance_km = []
for row in df.itertuples(index=False):
  distance_km.append(
      geopy.distance.distance(NY_coord, row.Coordinate).km
  )
  df['Distance'] =distance_km
  df.head()

AttributeError: ignored